.Menu-section,
.ContactUs-section,
.AboutUs-section
{
    height: 100vh;
    display: flex;
    align-items: center;
}

.productbox{
    padding: 70px; 
     float: left;
     margin-left:70px;
}

.product{
    height:150px;
    border :none;
    width:150px; 
}